.side-drawer{
  height: 100%;
  background: #F2F2F0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  /* transition: all .3s; */
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}
.side-drawer.show{
  transform: translateX(0);
}
.side-drawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.side-drawer li{
  margin: 0.5rem 0 ;
}
.side-drawer a{
  color: #171917;
  text-decoration: none;
  font-size: 1.75rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: orange;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgb(0,0,0);
  opacity: 0;
  z-index: 100;
  display: none;
}
.backdrop.show {
  display: block;
  opacity: .3;
}

@media(min-width: 769px){
  .side-drawer{
    display: none;
  }
}
