.cover-wrapper{
     width:100vw;
     height: 100vh;
     display: block;
     justify-content: center;
     text-align: center;
     /* padding-top:10%; */
     overflow: hidden;
     background-image: url('../../images/L5.png');
     /* background-size: 300px 100px; */
     background-size: 1000px 600px;
     background-repeat: no-repeat;
     background-position: center;
     /* transform: rotate(45deg); */

 }
 .title{
    display: inline-block;
    /* margin-left: 35%; */
    padding-top: 25%;
    font-weight: bold;
 }


 h1 {
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    letter-spacing: 12px;
    margin-bottom: 0em;
 }
 h3 {
    color: #ffffff;
    font-size: 30;
    font-weight: lighter;
    text-align: center;
    letter-spacing:12px;
    font-family: 'Times New Roman', Times, serif;
 }
 .fade-in {
   animation: fadeIn ease 3s;
   -webkit-animation: fadeIn ease 3s;
   -moz-animation: fadeIn ease 3s;
   -o-animation: fadeIn ease 3s;
   -ms-animation: fadeIn ease 3s;
 }
 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
  }
 }
